@CHARSET "UTF-8";

html,body {
	height: 100%;
	width: 100%;
}

.background {
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* HEADER */

#header {
	width: 100%;
	height: 150px;
	min-width: 1200px;
}

#top-header {
	height: 75%;
	background-color: #6ECCE2;
}

#logo-div {
	width: 30%;
	height: 65%;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#logo-div img {
	width: 100%;
	height: 100%;
}

#nav-items {
	width: 35%;
	height: 65%;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#nav-items a {
	text-decoration: none;
	color: white;
}

#nav-items a:hover {
	color: #F2852E;
}

.nav-item {
	width: 90px;
	display: table-cell;

	text-align: center;
	font-size: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
	font-weight: normal;
}

#search {
	width: 30%;
	height: 65%;
	float: left;
	margin-top: 40px;
}

#search-box {
	width: 55%;
	height: 35%;
	float: left;
}

#search-box input {
	width: 100%;
	height: 80%;
}

#search-image {
	height: 35%;
	float: left;
}

#search-image img {
	width: 100%;
	height: 100%;
}

#sub-header {
	height: 40px;
	background-color: #594F4F;
}

#sub-nav-items {
	width: 1200px;
	height: 40px;
}

#sub-nav-items ul {
	height: 40px;
	margin: 0px 0px 0px 0px;
}

#sub-nav-items a {
	text-decoration: none;
	color: white;
}

#sub-nav-items a:hover {
	color: #F2852E;
}

.sub-nav-item {
	width: 90px;

	display: table-cell;

	text-align: center;
	font-size: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
	font-weight: normal;

	position: relative;
  	top: 50%;
  	transform: translateY(50%);
}

/* BODY */

#body-wrapper {
	width: 100%;
	min-height: 1710px;
	min-width: 1200px;
	text-align: center;
}

#social-media-div {
	margin-top: 100px;
	margin-left: 15px;
	width: 75px;
	height: 355px;
	position: fixed;
	float: left;
}

.social-media-icon {
	display: block;
	width: 100%;
}

.social-media-icon:hover {
	box-shadow: 0 0 5px black;
}

#main-content {
	width: 615px;
	height: auto;
	float: left;
	margin-left: 120px;
	text-align: center;
}

.post {
	display: block;
	height: 320px;
	width: 450px;
	margin: 20px auto;
}

.post h2 {
	font-size: 20px;
	text-align: left;
	margin-bottom: 0px;
}

.content {
	display: block;
	height: 300px;
	width: 450px;
	background-color: #594F4F;
}

.content img {
	height: 275px;
	width: 425px;
	margin: 10px auto;
}

.content video {
	height: 275px;
	width: 425px;
	margin: 10px auto;
}

#page-selector {
	width: inherit;
	float: left;
	height: 50px;
}

.page-button {
	background: #6ECCE2;
  	background-image: -webkit-linear-gradient(top, #6ECCE2, #6ECCE2);
  	background-image: -moz-linear-gradient(top, #6ECCE2, #6ECCE2);
  	background-image: -ms-linear-gradient(top, #6ECCE2, #6ECCE2);
  	background-image: -o-linear-gradient(top, #6ECCE2, #6ECCE2);
  	background-image: linear-gradient(to bottom, #6ECCE2, #6ECCE2);

  	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
  	border-radius: 10px;

  	font-family: Arial;
  	color: white;
  	font-size: 20px;
  	padding: 10px 20px 10px 20px;
  	border: solid #F2852E 2px;
  	text-decoration: none;
}

.page-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);

  text-decoration: none;
  cursor: pointer;
}

#trending {
	width: 375px;
	height: auto;
	float: left;
}

.trending-content {
	height: 150px;
	width: 225px;
	background-color: #594F4F;
	margin: 20px auto;
}

.trending-content img {
	height: 140px;
	width: 215px;
	margin: 5px auto;
}

.trending-content video {
	height: 140px;
	width: 215px;
	margin: 5px auto;
}

#side-ads {
	width: 190px;
	height: auto;
	background-color: black;
	float: left;
}

/* FOOTER */

#footer-wrapper {
	width: 100%;
	min-height: 250px;
	min-width: 1200px;
}

#lower-ads {
	width: inherit;
	height: 150px;
	float: left;
}

#footer {
	width: inherit;
	height: 250px;
	background-color: #594F4F;
	float: left;
}

#join-us-div {
	margin-left: 150px;
	margin-top: 50px;
	color: white;
	font-size: 25px;
}

#copyright {
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	color: white;
}

/* CONTENT PAGE */

#single-main-content {
	width: 615px;
	height: auto;
	float: left;
	margin-left: 120px;
	text-align: center;
}

#single-content {
	width: inherit;
	height: auto;
	margin-top: 75px;
}

#single-content img {
	width: inherit;
	height: auto;
}