<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Viralsville</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	
    	<link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
	</head>
	<body>
		<div id="header">
			<div id="top-header">
				<div id="logo-div">
					<img src="../static/images/logo.png" th:src="@{images/logo.png}"/>
				</div>
				<div id="nav-items">
					<ul>
						<li class="nav-item"><a href="lulz.html">Lulz</a></li>
						<li class="nav-item"><a href="dafuq.html">Dafuq</a></li>
						<li class="nav-item"><a href="zero-morale.html">0morale</a></li>
						<li class="nav-item"><a href="fail.html">FAIL</a></li>
					</ul>
				</div>
				<div id="search">
					<div id="search-box">
						<input type="text">
					</div>
					<div id="search-image">
						<img src="../static/images/searchbutton.gif" th:src="@{images/searchbutton.gif}"/>
					</div>
				</div>
			</div>
			<div id="sub-header">
				<div id="sub-nav-items">
					<ul>
						<li class="sub-nav-item"><a href="filthy.html">filthy</a></li>
						<li class="sub-nav-item"><a href="mygawd.html">mygawd</a></li>
						<li class="sub-nav-item"><a href="best.html">Best</a></li>
						<li class="sub-nav-item"><a href="worst.html">Worst</a></li>
						<li class="sub-nav-item"><a href="science-bitch.html">ScienceBitch!</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
