<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Viralsville</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    	
    	<link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
	</head>
	<body>
		<div th:fragment="right-side">
			<div id="trending">
				<div th:each="trendingContent : ${trending}" class="trending-content">
					<a th:href="'http://localhost:8080/content?id=' + ${trendingContent.id}">
						<img th:if="${trendingContent.contentType == T(com.viralsville.model.ContentType).IMAGE}" th:src="${trendingContent.externalLink}"/>
						<video th:if="${trendingContent.contentType == T(com.viralsville.model.ContentType).MP4}" controls="controls">
							<source th:src="${trendingContent.externalLink}"/>
						</video>
						<div th:if="${trendingContent.contentType == T(com.viralsville.model.ContentType).FACEBOOK}" class="trending-video-overlay"></div>
						<iframe th:if="${trendingContent.contentType == T(com.viralsville.model.ContentType).FACEBOOK}" th:src="${trendingContent.externalLink}" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
					</a>
				</div>
			</div>
			<div id="side-ads"></div>
		</div>
	</body>
</html>