<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Viralsville</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    	
    	<link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
	</head>
	<body>
		<div th:fragment="right-side">
			<div id="trending">
				<div class="trending-content"></div>
				<div class="trending-content"></div>
				<div class="trending-content"></div>
				<div class="trending-content"></div>
				<div class="trending-content"></div>
			</div>			
			<div id="side-ads"></div>
		</div>
	</body>
</html>